.logo {
    display: hidden;
}

@media (max-width: 500px) {
    .logo {
        width: 220px;
        height: 220px;
    }
}

.active {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.active:hover {
    color: #e91e63;
}