.ser1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 100px;

}

.service {
    width: 80%;
    height: 100vh;

    margin-bottom: 400px;
    /* -top: 100px; */

}

.main-service {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 40px;


    /* flex-direction: column; */
}

.service-content {
    flex: 50%;
    width: 400px;
    height: 250px;
    display: block;
    /* background-color: red; */
    color: black;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: auto;
    overflow-wrap: break-word;

}

.service-anime {
    flex: 50%;
    width: 400px;
    height: 300px;
}

.heading-service {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.para-service {
    margin: 50px;
    color: black;
}

.content-heading {
    font-weight: 500;
    font-size: 30px;
    /* color:darkorange; */
    /* color: ; */
    color: rgb(110, 8, 8);
}

a {
    margin: 20px;
    padding-top: 10px;
}

a:hover {
    /* color: red; */
}

.ser2 {
    color: black;
    font-size: 16px;
    font-weight: 900;
    border: 2px solid black;
    padding: 5px;
    background-color: #FEE66E;
}

.ser2:hover {
    background-color: red;
    color: white;
}


@media screen and (max-width: 500px) {
    body {
        margin: 0;
        padding: 0;
    }

    .ser1 {
        width: auto;
        flex-wrap: wrap;
    }

    .service {
        width: auto;
        flex-wrap: wrap;
        height: fit-content;
    }

    .main-service {
        flex-direction: column;
    }

}