.home {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;

    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    height: 100vh;

    color: white;
    width: 80%;
}

a {
    text-decoration: none;
}

.c {
    color: black;
}

.c:hover {
    color: white;
}

.content {
    width: 45%;
    /* border: 2px solid green; */
    margin: 5px;
    height: 500px;
    display: block;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
    /* background-color: red; */
    margin-top: 150px;
}

.content h1 {
    font-size: 48px;
    margin-top: 15%;
    position: static;
}

.coder {
    margin: 5px;
    width: 45%;
    /* border: 2px solid black; */
    position: relative;
}

.multi {
    margin-top: 10%;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;


}

/* 
.para{
    font-size: 20px;
    margin-bottom: 20px;
} */


.para {
    font-size: 18px;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    /* display: block; */
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;

    overflow: hidden;
}

.circle:hover {
    background-color: red;
    color: white;
    transform: scale(1.1);
    transition: .2s ease-out;
}

a:hover {
    text-decoration: none;
    color: white;
}

a {
    color: white;
}

.btn1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}

.name1 {
    color: red;
}

button {
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    border: none;
}

button:hover {
    background-color: red;
    color: white;
}

.but {
    background-color: #FEE66E;
    height: 40px;
    /* width: 15%; */
    font-size: 15px;
    font-weight: 700;
    margin: 40px;
    -webkit-box-shadow: 2px 6px 16px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 16px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 16px -3px rgba(0, 0, 0, 0.75);

}

a {
    color: black;
}



/* a:hover{
    color: red;
} */

@media screen and (max-width: 500px) {
    body {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 13%, rgba(0, 212, 255, 1) 100%);
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
    }

    .main {
        display: flex;
        justify-content: center;

    }

    .coder {
        position: relative;
        width: 200px;
        height: 300px;
        justify-content: center;
        display: flex;
    }

    Lotttie {
        height: 200px;
        width: 100px;
    }
}


@media screen and (max-width: 420px) {
    body {
        /* width: 100%; */
        max-width: 420px;
        padding: 0;
        margin: 0;
        /* box-sizing: border-box; */
        box-sizing: content-box;
        /* overflow: hidden; */
    }

    .home {
        /* width: 100%; */
        padding-top: 100px;
        max-width: 420px;
        height: fit-content;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        /* flex-wrap: wrap-reverse; */
        flex-flow: column-reverse;
        /* background-color: red; */

    }



    .content {
        /* width: 300px; */
        /* flex: 50%; */
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


    }

    .coder {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        height: 300px;
        /* width: 300px; */
        /* fl */
    }

    .btn1 {
        display: flex;
        width: 100%;
        /* flex-wrap: wrap; */
        align-items: center;
        text-align: center;
        justify-content: center;
        /* margin-top: 20px; */
    }

    .btn {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* flex-wrap: wrap; */

        /* justify-content: center; */
    }

    button {
        width: fit-content;
        margin: 0;
    }

    .but {
        width: fit-content;
        margin: 0;
        margin-top: 20px;

    }




}