.contact1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.contact {
    width: 80%;
    height: 100vh;


}

.head-1 {
    font-size: 40px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.head {
    font-size: 24px;
    /* margin-top: 15px; */
    text-align: center;
    margin: 0;
    margin: 10px;
}

.email {
    font-size: 18px;
    /* margin-top: 5px; */
    text-align: center;
}

.contact-content {
    margin: 20px;
    flex-wrap: wrap;
    overflow: auto;
    flex: 80%;
    color: black;
    height: 100px;
    width: 100px;
    display: flexbox;
    /* justify-content: center;
    align-items: center; */
    /* margin: auto; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;


}

.contact-content:hover {
    display: block;
    flex-direction: column;
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}

.logof {
    /* margin-top: 30px; */
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    display: flex;
    /* margin: 5px; */

}

.contact-container {
    display: flex;
    width: 100%;

}

.contact-main {
    width: 100%;
    /* display: flex; */
}


.lottie {
    flex: 20%;
}

.contact-point {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    flex: 50%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

form {
    margin-top: 50px;
}

.main-form {
    display: block;
    /* justify-content: first baseline; */
    justify-content: flex-start;
    align-items: flex-start;
}

.input {
    width: 50%;
    height: 40px;
    margin: 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    box-shadow: 1px 1px 41px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 41px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 41px -9px rgba(0, 0, 0, 0.75);

}

.input:hover {
    transform: scaleY(-50px);
    transition: all 0.5s ease-in-out;
}

.area {
    margin: 20px;
    width: 50%;
    height: 150px;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: flex-end;

}

.sub {
    /* text-align: right; */
    /* align-items: flex-start; */
    /* justify-content:right; */
    width: 200px;
    border: none;
    height: 60px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    /* transition: width .3s; */

}

.sub:hover {
    width: 210px;
    background-color: red;
    color: white;
    /* transform: scale(1);
    transition: 1s ease-out; */
    transition: width 2s, height 2s, transform 2s;
}