body {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 13%, rgba(0, 212, 255, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  /* height: 600vh */
}

.App {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 13%, rgba(0, 212, 255, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
  height: fit-content;
  z-index: 0;
}

.App1 {
  position: fixed;
  margin-top: 20px;
  height: 80px;
  width: 100%;
  /* margin-top: 30px; */
  /* background-color: red; */
  z-index: 10;

}

.App2 {
  /* position: fixed; */

  width: 100%;
  /* background-color: green; */
}